body {
    font-family: 'Shadows Into Light', cursive;
    font-size: 1.3rem;
    background-color: #191919;
    color: #FFFFFF;
}

.main-nav{
    text-align: right;
}

.main-nav a {
    margin: 10px;
    text-decoration:none;
    font-weight: bolder;
    color: #FFFFFF;
}

.main-content {
    margin-top: 100px;
    text-align: center;
}

.tom-picture img {
    height: 600px;
}

.tom-name {
    color: #e5e500;
}

.main-nav a.active {
    color: #e5e500;
}
